PORT=4000
DATABASE_URL=postgresql://username:password@localhost:5432/database_name?schema=public
SESSION_SECRET=your_session_secret_here
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
