aiohttp==3.11.18
beautifulsoup4==4.12.3
celery==5.5.3
celery-redbeat==2.2.0
confluent-kafka==2.12.2
cvxpy==1.5.2
docling==2.61.2
fastapi==0.121.0
hmmlearn==0.3.2
httpx==0.28.1
huggingface_hub==0.36.0
jinja2==3.1.4
langchain==1.1.0
langchain-core==1.1.0
langchain-google-genai==3.2.0
langgraph==1.0.4
langgraph-checkpoint==3.0.1
langgraph-prebuilt==1.0.5
matplotlib==3.10.7
pymongo==4.9.2
motor==3.6.0
numpy==1.26.4
pandas==2.3.3
pathway==0.26.4
polars==1.31.0
pdf2image==1.17.0
PyPDF2==3.0.1
prisma==0.15.0
psutil==6.0.0
pydantic==2.12.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
PyJWT==2.10.1
pyotp==2.9.0
pytz==2024.2
redis==5.2.1
requests==2.32.5
scikit-learn==1.7.2
torch==2.6.0
torchvision==0.21.0
transformers==4.57.1
typing-extensions==4.15.0
unstructured==0.14.9
uvicorn==0.38.0
yahooquery==2.4.1
yfinance==0.2.66
websockets==15.0.1
brotli==1.2.0
nest-asyncio==1.6.0
prometheus-client==0.21.1
PyYAML==6.0.3
arize-phoenix==12.20.0
openinference-instrumentation-langchain==0.1.56