aiohttp==3.10.10
celery==5.5.3
celery-redbeat==2.2.0
confluent-kafka==2.12.2
cvxpy==1.5.2
docling==2.61.2
fastapi==0.121.0
google-generativeai==0.8.5
hmmlearn==0.3.2
httpx==0.28.1
huggingface_hub==0.36.0
langchain-core==0.3.79
langchain-google-genai==2.0.10
matplotlib==3.10.7
numpy==1.26.4
pandas==2.3.3
pathway==0.26.4
pdf2image==1.17.0
pdfplumber==0.11.7
prisma==0.15.0
psutil==6.0.0
pydantic==2.12.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
PyJWT==2.10.1
pyotp==2.9.0
pytz==2024.2
redis==5.2.1
requests==2.32.5
scikit-learn==1.7.2
torch==2.6.0
transformers==4.57.1
typing-extensions==4.15.0
unstructured==0.14.9
uvicorn==0.38.0
yfinance==0.2.51
websockets==15.0.1
brotli==1.2.0
prometheus-client==0.21.1
